snippet forall
	∀
snippet exists
	∃

snippet not
	¬
snippet lor
	∨
snippet land
	∧
snippet \/
	∨
snippet /\
	∧

snippet rightarrow
	→
snippet implies
	→
snippet to
	→
snippet ->
	→
snippet iff
	↔
snippet <->
	↔

snippet leftarrow
	←
snippet <-
	←

snippet neq
	≠
snippet <>
	≠
snippet !=
	≠

snippet le
	≤
snippet <=
	≤
snippet ge
	≥
snippet >=
	≥

snippet in
	∈
snippet notin
	∉
snippet cup
	∪
snippet cap
	∩

snippet subset
	⊂
snippet subseteq
	⊆
snippet sqsubseteq
	⊑
snippet notsubseteq
	⊈

snippet true
	⊤
snippet top
	⊤

snippet false
	⊥
snippet bottom
	⊥
snippet bot
	⊥

snippet vdash
	⊢
snippet dashv
	⊣
snippet vDash
	⊨
snippet Vdash
	⊩
snippet infty
	∞
snippet comp
	∘
snippet mapsto
	↦
snippet hookrightarrow
	↪
snippet up
	↑
snippet uparrow
	↑

snippet valid
	✓
snippet checkmark
	✓
snippet diamond
	◇
snippet box
	□
snippet bbox
	■
snippet rhd
	▷
snippet later
	▷

snippet lcredit
	£
snippet pound
	£
snippet ast
	∗
snippet sep
	∗
snippet ulc
	⌜
snippet urc
	⌝
snippet Lc
	⎡
snippet Rc
	⎤
snippet varnothing
	∅
snippet empty
	∅
snippet Lam
	Λ
snippet Sig
	Σ
snippet aa
	●
snippet af
	◯
snippet auth
	●
snippet frag
	◯
snippet iff
	↔
snippet gname
	γ
snippet incl
	≼
snippet latert
	▶
snippet update
	⇝
snippet bind
	≫=


snippet ^^+
	⁺
snippet __+
	₊
snippet ^^-
	⁻
snippet __0
	₀
snippet __1
	₁
snippet __2
	₂
snippet __3
	₃
snippet __4
	₄
snippet __5
	₅
snippet __6
	₆
snippet __7
	₇
snippet __8
	₈
snippet __9
	₉

snippet __a
	ₐ
snippet __e
	ₑ
snippet __h
	ₕ
snippet __i
	ᵢ
snippet __k
	ₖ
snippet __l
	ₗ
snippet __m
	ₘ
snippet __n
	ₙ
snippet __o
	ₒ
snippet __p
	ₚ
snippet __r
	ᵣ
snippet __s
	ₛ
snippet __t
	ₜ
snippet __u
	ᵤ
snippet __v
	ᵥ
snippet __x
	ₓ

snippet Alpha
	Α
snippet alpha
	α
snippet Beta
	Β
snippet beta
	β
snippet Gamma
	Γ
snippet gamma
	γ
snippet Delta
	Δ
snippet delta
	δ
snippet Epsilon
	Ε
snippet epsilon
	ε
snippet Zeta
	Ζ
snippet zeta
	ζ
snippet Eta
	Η
snippet eta
	η
snippet Theta
	Θ
snippet theta
	θ
snippet Iota
	Ι
snippet iota
	ι
snippet Kappa
	Κ
snippet kappa
	κ
snippet Lamda
	Λ
snippet lamda
	λ
snippet Lambda
	Λ
snippet lambda
	λ
snippet fun
	λ
snippet lam
	λ
snippet Mu
	Μ
snippet mu
	μ
snippet Nu
	Ν
snippet nu
	ν
snippet Xi
	Ξ
snippet xi
	ξ
snippet Omicron
	Ο
snippet omicron
	ο
snippet Pi
	Π
snippet pi
	π
snippet Rho
	Ρ
snippet rho
	ρ
snippet Sigma
	Σ
snippet sigma
	σ
snippet Tau
	Τ
snippet tau
	τ
snippet Upsilon
	Υ
snippet upsilon
	υ
snippet Phi
	Φ
snippet phi
	ϕ
snippet varphi
	φ
snippet \Chi "
	Χ
snippet chi
	χ
snippet Psi
	Ψ
snippet psi
	ψ
snippet Omega
	Ω
snippet omega
	ω



snippet oless
	⧀
snippet ogreater
	⧁
snippet oplus
	⊕
snippet otimes
	⊗



snippet calV
    𝒱
snippet calE
	ℰ
snippet calG
	𝒢
snippet upbar
	⤉
